[2017-12-01 10:32] ushnisha opened #1 "Keyboard shortcut missing"
The legacy version of the extension supported a keyboard shortcut, but Webextensions have very limited key combinations that are valid.

This issue is currently not high priority and is simply a placeholder.  It will be revisited if an when Webextensions API can support a richer set of keyboard shortcut combinations.

[2017-12-01 10:58] ushnisha opened #2 "Tranquility Reader Not processing #links correctly"
Steps to reproduce:

(1) Go to website: http://www.electoral-vote.com/
(2) Run Tranquility on the page
(3) Click on one of the links at the top of the page (has the same URL but points to a #link within the same page
(4) We don't move to the #link location on the page correctly

[2017-12-01 11:02] ushnisha opened #3 "Tranquility Reader not processing page correctly"
Steps to reproduce:

(1) Go to URL: http://www.naturalmedicinalherbs.net/herbs/u/umbellularia-californica=california-laurel.php
(2) Process the page to show tranquility view
(3) Scroll to the bottom and click on the link for "Plants For A Future" (http://pfaf.org)
(4) Empty page is shown
(5) Click on Tranquility Reader Icon again and it goes back to view in (2)

http://pfaf.org link is not shown i

[2017-12-05 17:51] Drulac opened #4 "Run on all pages"
Hello, thanks for your usefull extension :-) !

May you add an option to run it on every page load :-) ?
(and of course a blacklist for bad websites ;-) )

[2017-12-10 05:14] ushnisha commented on #4
Hi,

Thanks for the issue.

The extension is geared towards pages with a lot of text.  So, running automatically on webmail like gmail/yahoo or pages like youtube with a lot of sparse text content may be a problem.  There will be many similarly structured pages that are not suitable for automatic transformation.

Here is another idea - instead of the blacklist that you suggest, what if I added a w

[2017-12-10 08:07] Drulac commented on #4
Hey :-)

Yes but we don't use a lot of website with dynamic interface like discord or webmail. When you browse, you are looking for article/documentation.

I think the idea of blacklist is better, but why not let the user choice between blacklist and whitelist :-) ?

for whitelist, instead of adding a button, you may automaticly add the website on conversion (and delete im on de-conversion of cour

[2017-12-14 08:01] ushnisha commented on #2
Fixed as part of commit: https://github.com/ushnisha/tranquility-reader-webextensions/commit/742c2537e15d866a6fd510063445d9662f85a14c

[2017-12-14 08:01] #2 closed, assigned to ushnisha

[2017-12-14 08:03] ushnisha opened #5 "Better handling of valid images"
Tranquility Reader aggressively removes most images in articles.  Several requests from readers to include images.

It is a challenge to differentiate images for ads vs. those that are part of the page and relevant to the text content - filtering simply based on the domain is not always sufficient.  But we need to try and improve the handling of images.

[2018-01-01 08:10] ushnisha commented on #5
Experimental fix provided through commit: https://github.com/ushnisha/tranquility-reader-webextensions/commit/e58c98e61ebf1f7e19aabcb05247a668e9e50e72

Read commit log for some more details.

[2018-01-01 08:10] #5 closed, assigned to ushnisha

[2019-08-26 23:52] rpattabi opened #6 "Why does it require "Access your data for all websites" permission?"
This extension works fantastic. Thank you. However, I'm concerned about permissions.

Is "Access your data for all websites" permission required? As per [mozilla doc](https://support.mozilla.org/kb/permission-request-messages-firefox-extensions#w_access-your-data-for-all-websites), this means that this extension can access **data entered into web pages, such as usernames and passwords**.

I though

[2019-09-06 20:38] LorenAmelang opened #7 "Mail to ushnisha support address fails?"
Tried to eMail twice since 31 Aug, both returned:

This is the mail system at host gateway13.unifiedlayer.com.
<DELETED - for privacy reasons>: delivery temporarily suspended: lost
   connection with mta5.am0.yahoodns.net[67.195.228.109] while sending RCPT TO

Yes, I'm sending to the "arunk" at "ushnisha" dot "com" address that used to work. Are you still there?

[2019-09-29 08:13] ushnisha commented on #6
Thanks for the issue and sorry about the delayed response; due to some mail forwarding issues, I was not receiving email notifications of new issues opened on github.

When a page is transformed by the extension, clicking on a link in the transformed view will take you to the new url and also automatically transform that page content also to make it readable.  It does all of this in the same/origi

[2019-09-29 08:16] ushnisha commented on #7
Email forwarding failure caused the emails to bounce.  The problem has now been addressed.  I will open a separate ticket for the problem identified in your bounced email.  Thanks!

[2019-09-29 08:16] #7 closed, assigned to nobody

[2019-09-29 08:58] ushnisha opened #8 "Page locks up the extension..."
Page URL:  https://us12.campaign-archive.com/?e=809535ab56&u=7404e6dcdc8018f49c82e941d&id=c165e994a6

The extension is stuck/frozen with the green progress bar but nothing happens, ever.  Reported by user "Loren Amelang".

[2019-09-29 09:01] ushnisha commented on #8
When processing links, the extension attempts to resolve relative links by getting the "base URL" and constructing absolute URLs.  This code fails when there are links with "mailto:" (used for emailing feedback to the webpage owner).  Need to handle any failures in the code that tries to construct the absolute URL.

[2019-09-29 09:44] ushnisha opened #9 "Web page character encoding gets messed up"
From user via the Firefox webextension comments/reviews page (https://addons.mozilla.org/en-US/firefox/addon/tranquility-1/reviews/1422806/):

http://www.planalto.gov.br/CCIVIL_03/_Ato2019-2022/2019/Decreto/D10024.htm

[2019-09-29 09:48] ushnisha commented on #9
The extension attempts to retrieve the contents of the webpage via an XMLHttpRequest and then process it.  The default request assumes that the encoding of the page is UTF-8.  However, in this case, the page encoding (document.characterSet) is "Windows-1252".

Processing the page with UTF-8 encoding messes up a lot of the characters that don't fall within the typical ASCII encoding range.  To hand

[2019-09-29 10:06] ushnisha opened #10 "Restore original zoom settings of a page"
Based on review on the addon site:  https://addons.mozilla.org/en-US/firefox/addon/tranquility-1/reviews/1267965/

Challenges are:
(1) Need to save the original zoom settings of the page
(2) Restore zoom settings when toggling tranquility mode
(3) Restore zoom settings when navigating to another page by entering in URL
(4) Restore zoom settings when in the "continuous browsing mode" and navigating

[2019-10-05 12:37] DenB10 opened #11 "Offline links missing"
Hi,
I've updated Tranquility to the latest version (3.0.12) in FF 60.9.0 ESR.
I notice the offline links names have disappear, I can't click them, only delete.
Do you experience the same issue?
Thank you very much for your work.
DenB

[2019-10-06 09:04] ushnisha commented on #11
Hi DenB,

I am able to reproduce this problem for new links that I save to offline content; can you confirm that any older offline pages saved in earlier versions show the title properly?  That will help me make sure that the problem is not with the retreival mechanism, but with the saving of new offline links alone.  Thanks!

[2019-10-06 10:07] DenB10 commented on #11
Oops! I forgot to mention this important point: yes, the previous offline page titles are shown properly in the list, only the new ones are missing.
I think the issue comes from the "removed hidden elements" in tranquilize.js file: when I comment the line `deleteHiddenElements(contentDoc, "*");`, everything is alright. I don't know if that helps!

[2019-10-11 08:58] ushnisha commented on #11
Hi DenB10,

Thanks for the comment.  I have a fix in the next version which is submitted and waiting for review/approval to publish.

In 3.0.11 and earlier versions, I was deleting a subset of hidden elements, but decided to expand that to all hidden elements.  Here, a hidden element is identified as an element for which either the css property of "visibility" set to "hidden" or css property of "d

[2019-10-11 09:20] DenB10 commented on #11
OK, thank you very much!

[2019-10-11 17:33] DenB10 commented on #11
I've tested the new version: all is OK now!

One suggestion though: there is currently no way to access directly the offline pages from the toolbar button. Is it possible to implement this feature? Thank you!

[2019-10-12 06:44] ushnisha commented on #11
DenB10,

Thanks for validating the fix.

In the legacy version of the extension (using the older XUL technology) I provided such a feature; clicking on the button would transform the page, and you could add a small drop-down arrow to the right of the icon that would provide quick access to the preferences, reading offline pages, saving offline, export/import offline pages etc.

Unfortunately, when

[2019-10-12 07:16] ushnisha commented on #9
Fixed with commit https://github.com/ushnisha/tranquility-reader-webextensions/commit/88418060f78fc8196bd9bb4ef0d5037ea0684cf7

[2019-10-12 07:16] #9 closed, assigned to ushnisha

[2019-10-12 07:16] ushnisha commented on #8
Fixed with commit https://github.com/ushnisha/tranquility-reader-webextensions/commit/88418060f78fc8196bd9bb4ef0d5037ea0684cf7

[2019-10-12 07:16] #8 closed, assigned to ushnisha

[2019-10-12 17:45] DenB10 commented on #11
I don't understand why it's impossible to add a context menu item for the toolbar button which gives the ability to access to the offline content, since those pages seem to be locally stored (am I right?). A lot of Firefox add-ons I've installed offer such a functionality (e.g. Brief, Zoom Page, Skip Redirect, ...).

But no matter, it isn't so important, the main purpose of Tranquility Reader is t

[2020-02-20 06:26] ushnisha commented on #11
Fixed in 3.0.13; closing.

[2020-02-20 06:26] #11 closed, assigned to nobody

[2020-02-20 06:30] ushnisha opened #12 "Add grayscale browser action icon (to fit Firefox Quantum look and feel)"
Add a grayscale version of the icon.  This may be more pleasing to the eye for some users and blend well with the other icons in Firefox quantum (based on suggestion/feedback by user JG).

The icon can be changed through the webextension preferences.

The current icon will continue to remain the default.

[2020-02-27 08:03] ushnisha opened #13 "Add quick tools button for printing a processed page to PDF file"
Printing is typically on A4/Letter page sizes and that form factor is very different from a computer screen on which we view the browser.  So, we need a different font-size/page-width that applies only for printing. So:

(1) Add options for customizing font-size and page-width for printing.
(2) Any other menus that are usually visible in the processed page must be hidden/masked in the printed view

[2020-02-27 08:07] ushnisha opened #14 "Fix corner case where clicking on "Original Link" button does not work"
When the original link has a "#" reference in the URL, the event handling logic prevents any propagation of the click event even for the "Original Link" button.  Must allow this even to propagate and follow default action to restore original page.

[2020-02-28 18:28] ushnisha commented on #13
After studying the way the built in reader mode formats for printing, it seems easier to simply do all of this by @media print CSS settings rather than writing complicated javascript code to modify the page.

One downside of this is that the printing page width and font-size cannot be customized by the readers, but that seems a small price to pay for the ease of coding.  The users can modify zoom

[2020-02-29 05:04] ushnisha commented on #12
Completed in version 3.0.14 as part of commit: https://github.com/ushnisha/tranquility-reader-webextensions/commit/5e17eda06a4ab0d835c43d6fdae1b21707f4fac1

[2020-02-29 05:04] #12 closed, assigned to ushnisha

[2020-03-07 06:07] ushnisha commented on #13
Fixed in version 3.0.15

[2020-03-07 06:07] #13 closed, assigned to ushnisha

[2020-03-07 06:08] ushnisha commented on #14
Fixed in version 3.0.15

[2020-03-07 06:08] #14 closed, assigned to ushnisha

[2020-03-09 10:47] PEPERSO opened #15 "Add a Privacy policy"
Hi !

Could you please add your privacy policy to the firefox extension page ? (I hope you don't collect any data, but I prefer asking)

Thanks for your work :)

[2020-03-09 15:51] ushnisha opened #16 "Corner case: clicking on Tranquility browser action icon does not revert to original page"
This bug is very similar to #14 where a "#" tag in the link prevents clicking on the Tranquility browser action icon from toggling the view back to the original webpage.

[2020-03-09 15:54] ushnisha opened #17 "Save as PDF bug - progress bar may persist..."
The progress bar appears when clicking on the "save as pdf" icon and there has been a report from at least one user that this persists in the saved pdf document and obscures the text.

While the problem could not be reproduced, the user did provide a sample PDF file that was generated.

The best solution is to handle this click through a custom eventListener and to prevent the event propagation wh

[2020-03-09 16:27] ushnisha opened #18 "Re-enable keyboard shortcut for transforming a page"
In the legacy version of the extension (version 2.x and earlier) the Tranquility Reader view could be triggered using the keyboard combination "Ctrl+Alt+T".

However, when moving to webextensions, the early versions of the API did not support this combination and this feature was lost.

When looking through the documentation, it looks like the old keyboard shortcut is allowed in the current versio

[2020-03-09 17:10] ushnisha commented on #15
Hi Peperso,

Thanks for the question.  The answer is -- the extension runs on your browser; it does not send data to any website (it can only fetch data of a web page based on a user action and then transform and render that webpage in a readable format).

Data is saved on your browser (preferences, offline articles, etc.) but again none of this information is sent to any website.

There is no pla

[2020-03-10 09:49] ushnisha opened #19 "Remove "Save As PDF" button from Android versions"
The Android version of Firefox already has a "Save As PDF" in the "Page" menu of the browser.  This functionality saves the contents of the processed view in a nice readable format.

It is a couple of extra clicks but is much better than cluttering the already small screen of an android/portable device with additional buttons/icons.  It keeps the view clean (which is the intended purpose of this e

[2020-03-10 17:19] ushnisha commented on #1
I seem to have opened a duplicate issue (#18).  Will close both together.

[2020-03-11 05:52] ushnisha commented on #18
As per the documentation, the secondary modifier for the keyboard shortcut allows values other than shift only from Firefox version 63.  So, also update the strict_min_version to 63 in manifest.json.

In addition, since Firefox version 60, users are allowed to customize the keyboard shortcut (overriding the value specified in manifest.json).  Make changes to the Tranquility Reader options page to

[2020-03-11 10:06] ushnisha commented on #18
Also add ability to reset the value to the default from the manifest.json.

[2020-03-12 13:24] PEPERSO commented on #15
Thanks for your precision and your respectful privacy policy !

[2020-03-17 05:36] ushnisha opened #20 "Ability to view offline pages from Preferences Page"
Currently, users will need to run Tranquility on some webpage before they can access the pages that are saved for offline reading.

Provide a way to access these offline pages even without having to run Tranquility on any page.  This can be done by providing a button in the Preferences Page that can be clicked to display the offline pages in a new tab.

[2020-03-17 13:24] ushnisha commented on #18
It may be a good idea to also add a couple of other command shortcut keys for desktop users:
(1) Load the preferences page (Ctrl-Alt-J)
(2) Load the saved / offline pages (Ctrl-Alt-K)

Since command shortcut keys can now be disabled or customized by users, this approach overcomes the loss of the popup feature for quick access to the preferences/offline pages that were available in the legacy exten

[2020-03-18 05:25] ushnisha commented on #18
Ability to customize shortcuts is already available via about:addons; click on the "gear" and select "Manage Extension Shortcuts".  It is sufficient to add this information to the release notes for users to find and use.  This interface also highlights if there are any clashes with shortcuts already in use by Firefox or other webextensions -- which is a lot of work to do within this extension.  No

[2020-03-18 11:10] ushnisha commented on #6
Closing the issue since there is no way to workaround this permission request.  The issue has also been reviewed as part of the "recommended extensions" process and if there was an alternate solution, the reviewers would have advised suitably.

[2020-03-18 11:10] #6 closed, assigned to ushnisha

[2020-03-23 07:45] ushnisha opened #21 "Problem website..."
http://samlib.ru/s/smekalin_d_o/bojarin.shtml

The main content is specified entirely within DD tags which are currently deleted by the extension.  Find if there is a way to support such websites.

In the past this tag was encountered in either specification of ads, or in page layout in the form of headers/footers/sidebars etc.  So, it was removed/not-supported.

One idea is to see if a majority %

[2020-03-24 07:37] ushnisha commented on #1
Fixed with release 3.0.16 as part of commit 850a37488de7b2758371fcff15265d160303998b

Now the legacy shortcut Ctrl+Alt+T is enabled.  Other shortcuts have also been added.  Refer to issue #18 for more details.

[2020-03-24 07:37] #1 closed, assigned to ushnisha

[2020-03-24 07:39] ushnisha commented on #18
Fixed with release 3.0.16 as part of commit 850a374

In addition to the legacy shortcut Ctrl+Alt+T to transform the page, shortcuts have been added to show the preferences page (Ctrl+Alt+J) and to show the saved/offline pages (Ctrl+Alt+K)

[2020-03-24 07:39] #18 closed, assigned to ushnisha

[2020-03-24 07:40] ushnisha commented on #15
Fixed with release 3.0.16 as part of commit 850a374

Refer to the file PRIVACY.md for more details.

[2020-03-24 07:40] #15 closed, assigned to ushnisha

[2020-03-24 07:41] ushnisha commented on #16
Fixed with release 3.0.16 as part of commit 850a374

[2020-03-24 07:41] #16 closed, assigned to ushnisha

[2020-03-24 07:43] ushnisha commented on #17
Fixed with release 3.0.16 as part of commit 850a374

Now, a separate eventListener has been provided to handle clicks on the "Save as PDF" icon and the placeholder href reference removed so that the code that invokes the progress-bar is no longer invoked.

[2020-03-24 07:43] #17 closed, assigned to ushnisha

[2020-03-24 07:44] ushnisha commented on #19
Fixed with release 3.0.16 as part of commit 850a374

Removed as per issue description.

[2020-03-24 07:44] #19 closed, assigned to ushnisha

[2020-03-24 07:44] ushnisha commented on #20
Fixed with release 3.0.16 as part of commit 850a374

A "View" button has been provided in addition to the "Import" and "Export" buttons in the preferences page.  Clicking on this will load the list of saved/offline pages and this will work even without an internet connection.

[2020-03-24 07:45] #20 closed, assigned to ushnisha

[2020-05-13 11:34] ushnisha opened #22 "support Letter and A4 paper size for "save as PDF" functionality..."
Currently, the "save as PDF" functionality prints to the Letter format (default).  Create a new user preference that allows the user to select Letter or A4 paper sizes for the saved PDF document.

[2020-05-13 11:38] ushnisha opened #23 "Add the original/source URL of the web page to the top of the transformed document"
An easy way for users to have a record of the original/source URL that was transformed.  This is useful if/when a user saves the transformed page as a PDF file.  Without this information, the source of the saved file is lost -- this can be a problem if the users want to revisit the source page.

[2020-05-13 11:41] ushnisha opened #24 "Not all hidden elements identified correctly..."
The window.getComputedStyle() function does not return the correct computed CSS properties of elements when retrieving a web page by XMLHttpRequest.

So, we need to remove the script tags from the retrieved page and then replace document.documentElement with the retrieved/modified page so that window.getComputedStyle() will return correctly computed values.

[2020-05-14 09:41] ushnisha commented on #24
Fixed with commit #be42005dc65b45a8cda30fd4bf37bc43879ff84c in version 3.0.17

[2020-05-14 09:41] #24 closed, assigned to ushnisha

[2020-05-14 09:41] ushnisha commented on #23
Fixed with commit #be42005dc65b45a8cda30fd4bf37bc43879ff84c in version 3.0.17

[2020-05-14 09:41] #23 closed, assigned to ushnisha

[2020-05-14 09:42] ushnisha commented on #22
Fixed with commit #be42005dc65b45a8cda30fd4bf37bc43879ff84c in version 3.0.17

[2020-05-14 09:42] #22 closed, assigned to ushnisha

[2020-06-29 11:04] DenB10 opened #25 "Scroll buttons issue"
Hi,
I updated to version 3.0.19 and I noticed the new scroll buttons don't work on offline pages.
Best regards

[2020-06-29 13:31] ushnisha commented on #25
Hi DenB10,

Thanks for catching this bug.  I've fixed the problem now, but it will take a couple of weeks for me to submit another version; I'm trying to figure out a couple of other issues and will submit all of them together as a single release later in the month.

The fix should work even for pages that you save for offline reading (in version 3.0.19) between now and when the next release will

[2020-08-08 09:35] ushnisha commented on #25
Fixed in 3.0.20; please re-open if you see any problems.

[2020-08-08 09:35] #25 closed, assigned to ushnisha

[2020-08-30 21:53] zhujunmian opened #26 "Feature Request: Disable hyperlinks"
Is it possible to request a feature, to disable all the hyperlinks in the page so to facilitate deep reading?

[2020-09-02 10:27] ushnisha commented on #10
A bug report was filed with Mozilla to fix the "setZoomSettings" webextensions api, but they refused to fix the problem:

https://bugzilla.mozilla.org/show_bug.cgi?id=1588580

As a result, changing zoom values is too difficult.  Rather, a workaround is applied in version 3.0.21 -- the extension will not modify the zoom value of any page; instead, the user defined Tranquility font size setting will

[2020-09-02 10:27] #10 closed, assigned to ushnisha

[2020-09-02 10:54] ushnisha commented on #26
Thanks for the suggestion.  It is definitely an interesting idea.  It is possible to create another option to disable hyperlinks (default behavior will be to show hyperlinks as now).

But before implementing something like this, I have a few questions:

(1) What is the distracting part with the hyperlinks?  The color, or the underling or both?  Or is it the temptation of clicking on a link?

(2) I

[2020-09-11 10:23] ushnisha opened #27 "Navigation related links not always showing up in 3.0.21"
Reported by user TYTY via review at: https://addons.mozilla.org/en-US/firefox/addon/tranquility-1/reviews/1594891/

Problem link:  https://xtech.nikkei.com/atcl/nxt/column/18/01414/090800005/

[2020-09-11 10:26] ushnisha commented on #27
Regression was introduced in 3.0.19; since NAV tags are typically used to nagivate around a website and for displaying social networking related links too, and are often hidden & pop up on mouseover actions,  they were treated as "likeHidden" and removed.

The above page has related/supporting links to go to page 2/3/... etc. of the same multipage article with a NAV element and this element was de

[2020-09-22 15:22] JR-Utily opened #28 "remove headers from PDF generation"
I want to use this plugin to generate pdf files from good articles I find on the web to read on my e-reader.
But when I click on the pdf button, the generated pdf includes headers even if my firefox print options already remove them.
It would be great not to have them to have a cleaner pdf generation (or at least to add an option in the preference to include them or not).

[2020-09-23 06:26] ushnisha commented on #28
The header currently repeats information already available in the printed content (title & source link).  Removing it should not cause any problem, especially given than often this information is truncated because of width restrictions.

Providing controls to customize the header and footer settings is a bit more work and clutters up the current settings page;  other users might want to customize

[2020-09-23 15:24] ushnisha commented on #28
Adding a checkbox ends up being more work the way the code is setup now; rather than a checkbox, it is easier to add a select-option with 4 choices:

"Both" --> include both header and footer
"Neither" --> include neither header nor footer
"Only Header" --> include only header
"Only Footer" --> include only footer

...will implement the above in the next release.

[2020-09-24 16:03] ushnisha commented on #28
Fixed in version 3.0.22; option to select "Both", "Neither", "Only Header", and "Only Footer" is now available; default is current behaviour --> "Both".

In addition, the margins have been changed to 1.0" from the default value of 0.5" -- during testing of this new option, some of the page text was uncomfortably close to the header/footer; so margin has been increased for a more pleasing/readable

[2020-09-24 16:03] #28 closed, assigned to ushnisha

[2020-09-24 16:03] ushnisha commented on #27
Fixed in version 3.0.22.

[2020-09-24 16:03] #27 closed, assigned to ushnisha

[2020-09-24 16:12] ushnisha commented on #26
Since there is no response to the questions about what kind of problems are caused or to the workarounds suggested, I will assume that the user has accepted one of the suggested workarounds (like printing to PDF) as the solution.  Closing this issue.  Please reopen with clarification/response to the questions posed if you still need such a feature.

[2020-09-24 16:12] #26 closed, assigned to ushnisha

[2020-09-29 13:14] JR-Utily commented on #28
Thanks a lot !

[2020-11-26 16:04] brewinlibrarian opened #29 "How to install on Android?"
I have tried everything, but I can't seem to find any info about installing this on my Pixel 3. I've tried the regular method, I've tried downloading the file and just opening it up, etc. Firefox won't give the option to either install it or sync in from my desktop add-ons, either. This is one of my favorite add-ons and I'm sorry if I'm just missing something obvious, but in all the searching I've

[2020-11-27 05:49] ushnisha commented on #29
After Firefox released their new browser technology on Android (code
named Fenix), extension support has been restricted by them to select
extensions.  They are in the process of allowing additional extensions.

For now, if you want to try any extension on Firefox for Android, you
can do this using the "Nightly" build of Firefox on Android.

The Firefox Nightly app is available via the play store:

[2021-01-05 03:31] topernic opened #30 "Site requires javascript?"
When trying to read an article at https://www.activistpost.com/2021/01/more-concerns-and-details-about-how-the-internet-of-bodies-iob-will-literally-connect-you-to-the-internet.html, I get redirected saying I need to turn on javascript. It redirects here -
https://www.mediapass.com/subscription/noscriptredirect?key=6719&asset=7326&uri=activistpost.com

[2021-01-05 05:45] ushnisha commented on #30
If the site redirects and does not display the content because the NoScript extension is installed (and is blocking javascript on that page), then at this time Tranquility Reader may also not work.

If the page has not completed loading/forwarding, it is possible that the extension will transform the page (since we stop loading a partially loaded page and make a request for the page again) -- howe

[2021-01-25 12:49] AlexandroPerez commented on #29
@ushnisha I followed your instructions and was able to enable the addon on Firefox nightly, only problem is that I can't change the display format settings. Since I forgot how this addon used to work on Firefox android before, I tried it on my computer, and the usual behavior is that as soon as something is changed in the settings, the display settings are applied to the page using your addon, but

[2021-01-25 13:11] AlexandroPerez commented on #29
I'm a newbie when it comes to code, but I'm guessing that the addon is not working in android because tabs are gone the way they worked before, and since settings are applied within the "addon settings" interface it doesn't invoke any calls to `apply_tranquility_preferences.js` as it would in the desktop browser? I don't know, but perhaps no message is sent to opened tabs, since "addon settings" i

[2021-01-26 05:40] ushnisha commented on #29
@AlexandroPerez

I was unable to reproduce the problem you see in my setup (which unfortunately does not use the "Collections" approach outlined above for regular users).  I am setup to debug my latest code version using the web-ext tool provided by Mozilla.

Can you confirm that you are clicking on the "Save" button at the bottom of the options/settings page for the extension?  When I do that, an

[2021-01-26 19:49] AlexandroPerez commented on #29
@ushnisha I double checked on my actual phone and it didn't work. I used the `save` button whenever I made changes to the preset `Fonts & Colors` and `Text Display Preferences`, which is what I intent to change, but that didn't work either.

I'll give the web-ext tool a try by using usb debugging and see if I can replicate the problem there. I'm guessing either Firefox Nightly for Android has a bu

[2021-01-27 05:39] ushnisha commented on #29
@AlexandroPerez

I tried the collections approach and that also worked for me.

The first time I changed the options, it looked like the changes did not take effect, but as soon as I tried to scroll the page on a tab, the changes (font/background colors) took effect.

The second time I changed the options, the colors changes as soon as I switched to the tab (if not already reflected).

So, it is p

[2021-01-27 06:44] ushnisha commented on #29
Re: " web-ext lint" and compatibility issues -- I am reasonably confident that all of the API's used by Tranquility webextension are supported in Fenix; so, once your basic setup is complete, you may want to simply go to the step:

web-ext run -t firefox-android --adb-device XXX --firefox-apk org.mozilla.fenix

That should load the addon in Firefox Nightly and then you can test the extension; don'

[2021-07-09 08:41] timonde commented on #4
Hello

Is there a way to assign a keyboard shortcut to Tranquility in any browser? I have read that Firefox is going to allow shortcuts to extensions "https://winaero.com/assign-keyboard-shortcuts-extensions-firefox/" but it is not there not just yet.
Thanks

[2021-07-10 06:39] ushnisha commented on #4
Yes; the extension supports keyboard shortcuts.

Please refer to the wiki page linked below for instructions on how to do this:

https://github.com/ushnisha/tranquility-reader-webextensions/wiki/007-Keyboard-Shortcuts

[2021-07-16 07:54] ye110wd opened #31 "Don't truncate end of page option"
I read many pages where there is a "next page" or numbered "1 2 3 ..." link at the bottom of the page.

Tranquility reader often removes those links because of how the page is coded, like it should.

I would like a "Don't truncate end of page" option added to preference.

The result would be very messy but it's the end of page anyway.

Much appreciated. I've used this addon on at least 7,000 pages

[2021-07-17 08:34] ushnisha commented on #31
The extension tries to "save" navigation links such as "next page" as well as numbered links -- and at the end of the cleanup of the page, it tries to restore these navigation links at the top/bottom of the transformed page; the problem *may* be in how the extension identifies these links and cases where it fails to work on some pages (depending on how those pages are created/structured).

If you

[2021-07-17 20:50] ye110wd commented on #31
https://www.sousetsuka.com/2018/05/okami-wa-nemuranai-12.html
https://lightnovelstranslations.com/i-woke-up-piloting-the-strongest-starship-so-i-became-a-space-mercenary/prologue/
https://lightnovelbastion.com/novel/death-mage/volume-1/chapter-0/

Here are some. There are hundreds more

I honestly don't think there is neat solution. I'm asking for a messy solution as a last resort catch all.
An un

[2021-07-17 21:24] ye110wd commented on #31
another two.
https://www.kitchennovel.com/2020/09/15/tondemo-skill-001-caught-up-in-a-hero-summoning-spell/
https://wad14151.wordpress.com/2020/12/16/riot-grasper-vol-1-chapter-1/

[2021-07-30 18:28] thefferon opened #32 "Option to hide all images and their captions?"
I use Tranquility mainly to copy the text of articles I want to read, which I then paste into a Word document which I have pre-formatted for layout and readability. 99 times out of 100 I do not want to include images and their captions in the final version of the Word doc (which I may print on paper or save as a pdf).

Please enable a setting / option within Tranquility whereby I can completely el

[2021-08-02 06:27] ushnisha commented on #32
Agree - this is a good option to have.  Will add an option as requested in the next release.

[2021-08-23 09:14] ushnisha commented on #32
Version (3.0.23) has been submitted for review with changes to handle this issue.

A new option is available in the extension preferences/options:

A drop-down option labeled "Hide Images" can be configured to one of the following values:

"never":  This is the default value and continues the current behavior of displaying images whenever possible
"always": This option will always hide all images

[2021-08-23 09:24] ushnisha commented on #31
Sorry for the delay in getting back on this issue.

Thanks for the links; as you have rightly pointed out, there are too many patterns (or none at all in some cases) to handle this cleanly.

The extension code at this time does not handle a page based on "columns" of content -- I'll have to figure out the best way to do this; often determining a "main column" will require that the page is complete

[2021-08-31 05:07] ushnisha commented on #32
3.0.23 is now released.  The option is working as designed in the released version.  Closing this issue now.

[2021-08-31 05:07] #32 closed, assigned to ushnisha

[2021-10-05 04:01] ye110wd commented on #31
I've tested on many sites since the update. Probably 40+.
Tranquility Reader now works on many more sites. There are very few sites where it does not work now. I think it's good enough not to need further fix.

Thank you very much for the update.

[2021-10-05 04:01] #31 closed, assigned to ushnisha

[2022-02-23 00:25] SublimeAnanas opened #33 "Ability to hide options buttons"
I mainly use Tranquility to read articles, but my incredibly annoying issue is whenever I select text any text on the page, the left and right arrows, as well as the top right buttons disappear, then reappear when unselecting the text.
They do this every time, which is quite distracting when you like to guide your reading by selecting text, or even just temporarily highlighting it.

My enhancement

[2022-02-23 05:50] ushnisha commented on #33
There are two ways to handle this:

(1) Provide an option that will allow users to hide these button.  Not everyone uses these buttons and if they click on an empty portion of the screen/document, these buttons pop up.  Default value of the option will continue to display them for backward compatibility, and users can disable this if they wish

(2) Another way of solving this problem is to detect

[2022-04-09 02:56] drfiresign opened #34 "Multi-column mode"
Hi, I was wondering if it was possible to include a multi-column option in your extension.

This would allow someone with a wider monitor to read several columns of text at once. So instead of having a large amount of space on either side of the text, or having to track very long lines of text across the page, the user could read lines of reasonable text width across multiple columns allowing them

[2022-04-09 05:15] ushnisha commented on #34
Thanks for the issue/suggestion.

I took a look at the multi-column css features and it should be easy to add a user controlled option to select the number of columns in which the transformed text is rendered.

I am hesitant to automatically break the text into columns because that would change default behavior; the user can always set up the number of columns they want manually (based on their sc

[2022-04-10 02:48] drfiresign commented on #34
Shoot, I should have known better than to only test it on the material I was interested in reading 😅 You're completely right, a much longer page is much more frustrating to read that way. Maybe not _more_ frustrating per se, but definitely a different kind of frustration in itself. Personally, I would use this feature on shorter pages where I can reasonably expect the text to fit into one screenfu

[2022-04-10 08:07] ushnisha commented on #34
Thanks for the detailed feedback!

On the scrolling issue, maybe things are not so bad in the sense that using the "Home" key will take us back to the top of the page; so getting to the next column is not multiple page-ups or multiple scroll wheel rotations.  This may be an easier option that me trying to split the text and adding additional navigation buttons (or overrides to page-up/page-down) f

[2022-04-11 15:44] ushnisha commented on #33
Solution (2) will be implemented in 3.0.24.  If text is selected, then ui menu items will not be shown.  This is simpler and the code is easier to maintain.

[2022-04-11 18:33] drfiresign commented on #34
Excellent! That's great thinking about the Home key. Let me know if there's anything I can do to help out along the way!

[2022-04-12 12:38] ushnisha commented on #34
I've already made the changes and submitted version 3.0.24.  It has been approved and you should see the update notification soon.

A single new option is added to set the column-count style property in the extension settings/options page.

I will leave this issue open for a couple of weeks so that you have some time to test it out as part of your regular use.  If there are any glaring problems, w

[2022-04-12 12:43] ushnisha commented on #33
Version 3.0.24 has been submitted and should soon be available as an update.

Now, when you select text, you will not see the ui related menu/control buttons appear.  After you have finished reading the selected text, please select the next block of text you want to read immediately without click elsewhere on the page.

If you simply click on the screen that will un-select the selected/highlighted

[2022-04-13 09:14] SublimeAnanas commented on #33
You're awesome, thank you. Will give feedback once I tested it.

[2022-04-18 16:50] softedge88 opened #35 "options setting for page control / options buttons"
i have used other page readers and found yours is the best so far, thank you. i use this addon with a desktop computer running firefox. at present i have to click twice to advance a page when reading; the other option is to use the pagedown button on my keyboard. i can do both, however, it would be far more convenient to be able to just click on a page forward/back button. can the page control but

[2022-04-19 08:23] ushnisha commented on #35
Thanks for the feedback.  Glad you find the extension useful.

On the visibility of the various controls, since there are many controls, I am trying to hide all of them together to make the page look cleaner.  Once I start adding user controls on showing/hiding these controls, I expect to receive requests for user controls for every one of them individually -- while this is technically doable, it

[2022-04-19 18:55] ericpa06 opened #36 "Keep the original page in cache, so that if you come back to it after you set reader mode, it goes instantaneously"
So, first of all I would like to thank you for your extension, I don't know what you did but most other reader extensions get somewhat fuzzy when extracting the main elements from web page, so it always ends up with formatting issues and yadda yadda, your extension although does it pretty well.

Anyway, I would like to suggest a little improvement: oftentimes on reader extensions, when you set the

[2022-04-20 05:33] ushnisha commented on #36
Thank you for the feedback and glad you find the extension useful.

The very early versions of the extension (in the days of the native XUL addons) used to cache the original page and restore it fast; but when I moved to webextensions, this feature was left out because during my testing I found that page reloads were quite fast (maybe my own internet connection quality and speed improved).

But as

[2022-05-03 08:02] ushnisha commented on #33
Closing issue... assuming user has tested it and is satisfied with the fix.

[2022-05-03 08:02] #33 closed, assigned to ushnisha

[2022-05-03 08:02] ushnisha commented on #34
Closing issue... assuming user has tested it and is satisfied with the fix.

[2022-05-03 08:02] #34 closed, assigned to ushnisha

[2022-05-03 14:59] drfiresign commented on #34
Yes, sorry about the radio silence. User is very satisfied 😄 Thanks very much for your work and incredibly quick implementation!

[2022-05-18 20:53] softedge88 opened #38 "headers & footers hidden"
there's a yellow background box at the top of the reader page when headers & footers are hidden. is this supposed to happen? if it is can it be removed?

here's the image of the header
![image](https://user-images.githubusercontent.com/16293197/169153783-4f997f25-29fc-47b2-850a-52033d5ffd1f.png)

here's the page url
https://jalopnik.com/hyundai-is-becoming-teslas-biggest-threat-1848930649?utm_sour

[2022-08-12 10:49] ericpa06 commented on #36
Any update on this feature? 🥺

[2022-09-20 11:48] oryband opened #39 "Add support for RTL languages e.g. Hebrew"